@using YPMMS.Display.Website.Models.Breadcrumb
@model YPMMS.Display.Website.Models.RefillSystemViewModel

@{
    var breadcrumbTrail = new BreadcrumbTrailModel()
        .Add(BreadcrumbType.ManagerRefill)
        .Add(BreadcrumbType.ManagerMachineProfile);
}

<section class="content">
    <main class="container-fluid">

        @Html.Partial("Breadcrumb", breadcrumbTrail)

        <div class="row">
            <div class="col-lg-12 pt-page-moveFromRightFade">
                <table style="margin-top: 10px;" class="individual-system-information">
                    <tr>
                        <td>System Name:</td>
                        <td class="system-name">@Model.Machine.Name</td>
                    </tr>
                    <tr>
                        <td>Site Name:</td>
                        <td>@Model.Machine.Site.Name</td>
                    </tr>
                    <tr>
                        <td>Manager Name:</td>
                        <td>@Model.ManagerDetails.Name</td>
                    </tr>
                    <tr>
                        <td>Manager User Name:</td>
                        <td>@Model.ManagerDetails.UserName</td>
                    </tr>
                    <tr>
                        <td>Manager Email:</td>
                        <td>@Model.ManagerDetails.Email</td>
                    </tr>
                    <tr>
                        <td>Manager Phone Number:</td>
                        <td>@Model.ManagerDetails.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td>Postcode:</td>
                        <td>@Model.Machine.Site.Postcode</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>@Model.Machine.Site.Country</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12 pt-page-moveFromRightFade">
                <div id="collector-refill-system">
                    <h1>Refill this System</h1>
                    <p>The following amounts highlighted in red are needed. Please refill by the specified amount</p>
                    <p class="legend-container"><span class="due-legend"></span> = Amount due</p>
                    <p class="legend-container"><span class="overfill-legend"></span> = Extra coins/bills added</p>
                    @Html.Partial("~/Views/Shared/Tables/CashTableRefillMode.cshtml", @Model)
                    <p class="small-helper-text">If you want to exit refill mode then tap your ibutton on the cash connect device or press "cancel refill".</p>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-md-12 pt-page-moveFromBottom">
                <h1 class="side-divider">Refill History</h1>
                <hr>
                <p>Click on the row  to view the full refill details</p>

                <div id="reportrange" class="pull-left">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b>
                </div>
                <div class="clearfix" style="margin-bottom: 20px;"></div>

                <div class="collection-history">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="collection-times" class="refill-only">

                                    @* Table of refills, separated by date headings and ordered by time *@

                                    @***** START: Template for the date section of the refills table *****@
                                    <ul id="template__collection-date-section" class="collection-date-section hidden">
                                        <span class="circle-indicator"></span>
                                        <span class="vertical-line"></span>
                                        <li class="full-day-sum">
                                            <span class="day-date"></span>
                                            <span class="day-refill">
                                                <span class="triangle"></span>
                                                <span class="full-day-refilled"></span>
                                                <span class="up-down-indicator down"></span>
                                            </span>
                                        </li>

                                        @***** START: Template for an individual row in the refills table *****@
                                        <li id="template__collection-row" class="hidden">
                                            <a></a>
                                            <span class="refill"></span>
                                        </li>
                                        @***** START: Template for an individual row in the refills table *****@
   
                                    </ul>
                                    @***** END: Template for the date section of the refills table *****@
                                    
                                </div>
                            </div>
                        </div><!--end row-->
                    </div><!--end container-fluid-->
                </div><!--end collection-history-->
            </div>
        </div>
    </main><!--end container-->
</section><!--end of content-->

@section Scripts{
    @Scripts.Render("~/bundles/js/ViewsManagerRefillSystem")
    <script>
        $(document).ready(function() {
            ManagerRefillSystem.initialise(@Model.Machine.Id);
        });
    </script>
}