@using YPMMS.Shared.Core.Models
@model IList<ReportOfflineMachineIntervalsModel>

<div class="actual-information drag-scroll">
    <a class="left-arrow fix-this-at-top"></a>
    <a class="right-arrow fix-this-at-top scrollright"></a>
    <div class="pillars left"></div>
    <div class="shadow left"></div>
    <div class="pillars right"></div>
    <div class="shadow right"></div>
    <header class="stick-this">
        <ul class="header-inside fix-this-at-top">
            @for (var currentDate = ViewBag.ReportStart; currentDate < ViewBag.ReportEnd; currentDate = currentDate.AddDays(1))
            {
                <li>@currentDate.ToString(ViewBag.ShortCustomDateFormat)</li>
            }
        </ul>
    </header>
    <div class="reports-content">
        <ul class="report-container">
            @{
                var hoursWidthPx = 80;
                var reportDateTimeStart = ViewBag.ReportStart;
                var reportDateTimeEnd = ViewBag.ReportEnd;
                var days = (reportDateTimeEnd - reportDateTimeStart).TotalDays;
            }
            @foreach (var machine in Model)
            {
                <li class="report-row" data-id="@machine.MachineSite.Id">
                    @foreach (var interval in machine.OfflineIntervals)
                    {
                        var intervalStart = interval.Start < reportDateTimeStart ? reportDateTimeStart : interval.Start;
                        var intervalEnd = interval.End >= reportDateTimeEnd ? reportDateTimeEnd : interval.End;
                        var left = hoursWidthPx * (intervalStart - reportDateTimeStart).TotalDays;
                        var width = hoursWidthPx * (intervalEnd - intervalStart).TotalDays;
                        var cssClass = "";
                        if (interval.HoursOffline >= 10 && interval.HoursOffline < 24)
                        {
                            cssClass = "ten-plus";
                        }
                        else if (interval.HoursOffline >= 24)
                        {
                            cssClass = "twentyfour-plus";
                        }

                        <div class="offline-time-bar @cssClass" style="left: @(left)px; width: @(width)px;"></div>
                    }
                    @for (int i = 0; i < days; i++)
                    {
                        <div class="cell"></div>
                    }

                </li>
                        }
        </ul>
    </div><!--end reports content-->
</div>