@using YPMMS.Shared.Core.Models
@model IList<ReportOfflineMachineIntervalsModel>
@foreach (var machine in Model)
{
    <li class="report-row" data-id="@machine.MachineSite.Id">
        <div class="cell">TBD</div>
        <div class="cell">@Html.Encode(machine.MachineSite.Site.Name)</div>
        <div class="cell">@Html.Encode(machine.MachineSite.Site.Town)</div>
        <div class="cell postcode">@Html.Encode(machine.MachineSite.Site.Postcode)</div>
        <div class="cell position">TBD</div>
        <div class="cell">@Html.Encode(machine.MachineSite.Name)</div>
        <div class="cell">TBD</div>
    </li>
}