@using YPMMS.Shared.Core.Models
@model IList<ReportErrorsStatsModel>

<div class="actual-information drag-scroll">
    <a class="left-arrow fix-this-at-top"></a>
    <a class="right-arrow fix-this-at-top scrollright"></a>
    <div class="pillars left"></div>
    <div class="shadow left"></div>
    <div class="pillars right"></div>
    <div class="shadow right"></div>
    <header class="stick-this">
        <ul class="header-inside fix-this-at-top">
            <li><p>Payout Jam</li>
            <li><p>Bill Fraud detected</p></li>
            <li><p>Coin Fraud detected</p></li>
            <li><p>Rejected bills</p></li>
            <li><p>Rejected coins</p></li>
            <li><p>Tickets low</p></li>
            <li><p>Coin Mech error</p></li>
            <li><p>Coin jam</p></li>
            <li><p>Bill jam</p></li>
            <li><p>Movement detected</p></li>
        </ul>
    </header>
    <div class="reports-content">
        <ul class="report-container">
            @foreach (var machine in Model)
            {
                <li class="report-row" data-id="@machine.MachineId">
                    <div class="cell">@machine.PayoutJam</div>
                    <div class="cell">@machine.BillFraudDetected</div>
                    <div class="cell">@machine.CoinFraudDetected</div>
                    <div class="cell">N/A</div>
                    <div class="cell">N/A</div>
                    <div class="cell">@machine.TicketsLow</div>
                    <div class="cell">@machine.CoinMechError</div>
                    <div class="cell">@machine.CoinJam</div>
                    <div class="cell">@machine.BillJam</div>
                    <div class="cell">@machine.MovementDetected</div>
                </li>
            }
        </ul>

    </div><!--end reports content-->
</div>
