@using YPMMS.Shared.Core.Models
@model IList<ReportHopperSummary>

<div class="actual-information drag-scroll">
    <a class="left-arrow fix-this-at-top"></a>
    <a class="right-arrow fix-this-at-top scrollright"></a>
    <div class="pillars left"></div>
    <div class="shadow left"></div>
    <div class="pillars right"></div>
    <div class="shadow right"></div>
    <header class="stick-this">
        <ul class="header-inside fix-this-at-top">
            <li><p>Min Hop Lvl required</p></li>
            <li><p>Lowest Hop Lvl</p></li>
            <li><p>Num days checked</p></li>
            <li><p>Num days needed refill</p></li>
            <li><p>Num Days Below Min Hop Lvl</p></li>
        </ul>
    </header>
    <div class="reports-content">
        <ul class="report-container">
            @foreach (var machine in Model)
            {
                <li class="report-row" data-id="@machine.MachineId">
                    <div class="cell">@(string.Format("£{0:0}", machine.RequiredMinimumHopperLevel))</div>
                    <div class="cell">@(machine.LowestHopperLevel == decimal.MaxValue ? "-" : string.Format("£{0:0.00}", machine.LowestHopperLevel))</div>
                    <div class="cell">@machine.DaysChecked</div>
                    <div class="cell">@machine.DaysRefilled</div>
                    <div class="cell">@machine.DaysBelowMinimumHopperLevel</div>
                </li>
            }
        </ul>
    </div><!--end reports content-->
</div>