<section class="content">
    <main class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>System Reports</h1>
                <p>You can view various reports about all the machines here.</p>

                @*<div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select Report
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/Report/Offline">Offline systems</a></li>
                        <li><a href="/Report/Errors">Error statistics</a></li>
                        <li><a href="/Report/Hopper">Hopper Levels & Refill</a></li>
                        <li><a href="/Report/MachinePerformance">Machine Performance</a></li>
                        <li><a href="/Report/IncomeAverage">Average Income taken</a></li>
                        <li><a href="/Report/ResponseTimes">Response Times</a></li>
                        <li><a href="/Report/GamePopularity">Game Popularity</a></li>
                    </ul>
                </div>*@
                <!--end dropdown menu-->


            </div>
        </div>
        <hr>

        <div id="reports-all-system-income-graph">
            <h3>Income Performance for all machines</h3>
            <div class="time-selection-buttons pt-page-moveFromRightFade">
                <a class="months selected">Months</a>
                <a class="days">Days</a>
            </div>
            <div id="incomePerformanceMonthsGraphContainer"class="graph-container month-view">
                @{ Html.RenderAction("IncomePerformanceMonthsGraph", "ReportShared"); }
            </div>
            <div id="incomePerformanceDaysGraphContainer" class="graph-container day-view hidden">
                @{ Html.RenderAction("IncomePerformanceDaysGraph", "ReportShared"); }
            </div><!--end-graph container-->
            <!--start information about the graph that is shown at the bottom-->
            <div class="graph-information">
                <header class="date-title"><span class="month">November</span><span class="year"> 2016</span></header>
                <div class="row information-content">
                    <div class="col-lg-6 income-for-date-info">
                        <div class="img-container"><img src="~/Content/img/general/hand-coin-icon-grey.png"></div>
                        <div class="total-amount"><small id="monthlyAmount"> </small>986.56</div>
                        <p>Monthly Income Total</p>
                    </div>
                    <div class="col-lg-6 yearly-total-info">
                        <div class="yearly-total-title"><small id="yearlyAmount"> </small>90898.98</div>
                        <p>Yearly Total</p>
                        @*<p class="total-change-percent up"><span class="up-down-indicator up"></span><span class="percent"> 22.3% </span>from last year</p>*@
                    </div>
                </div>
            </div><!--end graph-information-->
        </div><!--end reports-container-->


        <!--///////////////START OTHER REPORTS////////////////////////-->

        <div class="row mini-reports-linkable">
            <div class="col-lg-4 pt-page-moveFromRightFade">
                <a href="Report/Offline" class="mini-report">
                    <h2><img width="34" src="~/Content/img/svg/offline-system-cloud-disabled.svg">Offline Systems report<img src="~/Content/img/general/arrow-right.png"></h2>
                    <p><span></span>Systems offline more than 24 hours: <strong>-</strong></p>
                    <p><span></span>Systems offline more than 10 hours: <strong>-</strong></p>
                </a>
            </div>
            <div class="col-lg-4 pt-page-moveFromRightFade">
                <a href="Report/Errors" class="mini-report">
                    <h2><img width="30" src="~/Content/img/svg/error-exclamation-icon-disabled.svg">Error Statistics<img src="~/Content/img/general/arrow-right.png"></h2>
                    <p>
                        View all systems and how many errors have
                        occured within a specified time period
                    </p>
                </a>
            </div>
            <div class="col-lg-4 pt-page-moveFromRightFade">
                <a href="Report/Hopper" class="mini-report">
                    <h2><img width="15" src="~/Content/img/svg/refill-icon-light-grey.svg">Hopper Levels & Refill Reports<img src="~/Content/img/general/arrow-right.png"></h2>
                    <p>
                        View the minimum hopper levels reached for each machine and
                        how many times the machine was checked and also refilled
                    </p>
                </a>
            </div>
        </div>

        @*<!--///////////////START MACHINE PERFORMANCE REPORTS////////////////////////-->
        <div class="row">
            @Html.Partial("~/Views/Report/Root/_MachinePerformanceSummary.cshtml")
        </div><!--end row-->


        <!--///////////////START ADDITIONAL  MACHINE REPORTS////////////////////////-->
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @Html.Partial("~/Views/Report/Root/_IncomeAverageSummary.cshtml")
                    @Html.Partial("~/Views/Report/Root/_ResponseTimesSummary.cshtml")
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    @Html.Partial("~/Views/Report/Root/_GamePopularitySummary.cshtml")
                </div>
            </div>

        </div><!--end row-->*@
        

    </main><!--end container-->


</section><!--end of content-->

@section Scripts {
    <script src="~/Content/js/pages/reports.js"></script>
    <script src="~/Content/js/pages/reports-root.js"></script>
    @Scripts.Render("~/bundles/js/ViewsReportRoot")

    <!--this is for the pie chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Content/js/pages/game-popularity-google-pie.js"></script>
    <!---->
    <script>
        $(document)
            .ready(function () {
                ReportRoot.initialise();
                $('#monthlyAmount').innerHtml = localStorage.getItem("CurrencyCode");
                $('#yearlyAmount').innerHtml = localStorage.getItem("CurrencyCode");
                
            });
    </script>
}