@using YPMMS.Display.Utilities
@model YPMMS.Shared.Core.Models.Machine

@{
    var bills = Model.BillDenominations.OrderBy(d => d.Value).ToList();
    var currency = Model.Currency;


    <!--For tebs use bag values-->

    var tbills = Model.CurrentBagData.count;
    foreach (var bill in bills)
    {
        foreach (var tbill in tbills)
        {
            if (bill.Currency == tbill.Country && bill.Value == tbill.Value)
            {
                bill.CashboxLevel = tbill.Number;
            }
        }
    }
    if (Model.CurrentBagData.total.Count > 0)
    {
        Model.CollectableValue = Model.CurrentBagData.total[0].Value;
        Model.CashboxValue = Model.CurrentBagData.total[0].Value;
    }

}


<table class="cash-details-table">

    <!--HEADER ///////////////////////////////////////////////////////////-->
    <tr class="tbl-hdr-col">
        <td class="dont-hide"></td>

        @* Bills *@
        @foreach (var bill in bills)
        {
            <td><span>@Format.AsCurrency(bill.Value, bill.Currency)</span></td>
        }
        <td class="column-title dont-hide">Bills</td>

        @* Totals *@
        <td class="equals dont-hide">=</td>
        <td class="column-title dont-hide">Amount</td>
    </tr>


 
    <!--start hidden row-->
    <tbody class="hidden-for-desktop">
        <tr class="hide-this" id="mobile-stored">
            <td colspan="5" class="dont-hide">
                <span class="denominations">
                    <h1>Bills<span>Quantity</span></h1>
                    @foreach (var bill in bills)
                    {
                        <li>@Format.AsCurrency(bill.Value, bill.Currency)<span class="stored-level-@bill.ValueInPence">@bill.StoredLevel</span></li>
                    }
                </span>
            </td>
        </tr>
    </tbody>
    <!--end hidden row-->
    <!--CASHBOX ////////////////////////////////////////////////////////////////////////-->
    @if (Model.SystemType.ToString() != "CashInTebs" && Model.SystemType.ToString() != "CashInBnv")
    {
        <tr id="cashbox" class="cashViewTrigger" data-reveal-cash="mobile-cashbox">
            <td class="dropdown dont-hide">Cashbox</td>

            @* Bills *@
            @foreach (var bill in bills)
            {
                <td class="cashbox-level-@bill.ValueInPence">@bill.CashboxLevel</td>
            }
            <td class="small-totals dont-hide cashbox-value-bills-total">@Format.AsCurrency(Model.BillsCashboxValue, currency)</td>

            @* Totals *@
            <td class="equals dont-hide">=</td>
            <td class="small-totals dont-hide cashbox-value-total">@Format.AsCurrency(Model.CashboxValue, currency)</td>
        </tr>
    }
    <!--start hidden row-->
    <tbody class="hidden-for-desktop">
        <tr class="hide-this" id="mobile-cashbox">
            <td colspan="5" class="dont-hide">
                <span class="denominations">
                    <h1>Bills<span>Quantity</span></h1>
                    @foreach (var bill in bills)
                    {
                        <li>@Format.AsCurrency(bill.Value, bill.Currency)<span class="cashbox-total-@bill.ValueInPence">@bill.CashboxLevel</span></li>
                    }
                </span>
            </td>
        </tr>
    </tbody>
    <!--end hidden row-->
    <!--TOTAL CASH ////////////////////////////////////////////////////////////////////////-->

    <tr class="tbl-row-col cash-total-row cashViewTrigger" data-reveal-cash="mobile-cash-total">
        <td class="dropdown dont-hide">Cash Total</td>

        @* Bills *@
        @foreach (var bill in bills)
        {
            <td class="total-level-@bill.ValueInPence">@bill.TotalLevel</td>
        }
        <td class="cash-total-totals dont-hide total-value-bills-total">@Format.AsCurrency(Model.BillsTotalValue, currency)</td>

        @* Totals *@
        <td class="equals dont-hide">=</td>
        <td class="cash-total-totals dont-hide total-value-total">@Format.AsCurrency(Model.TotalValue, currency)</td>
    </tr>


    <!--start hidden row-->
    <tbody class="hidden-for-desktop">
        <tr class="hide-this" id="mobile-cash-total">
            <td colspan="5" class="dont-hide">
                 <span class="denominations">
                    <h1>Bills<span>Quantity</span></h1>
                    @foreach (var bill in bills)
                    {
                        <li>@Format.AsCurrency(bill.Value, bill.Currency)<span class="total-level-@bill.ValueInPence">@bill.TotalLevel</span></li>
                    }
                </span>
            </td>
        </tr>
    </tbody>
    <!--end hidden row-->

</table>
