@using YPMMS.Display.Website.Extensions
@using YPMMS.Display.Website.Models.Breadcrumb
@using YPMMS.Shared.Core.Enums
@model YPMMS.Shared.Core.Models.Collector

@{
    var breadcrumbTrail = new BreadcrumbTrailModel();

    if (User.HasRole(Role.Collector))
    {
        breadcrumbTrail
            .Add(BreadcrumbType.CollectorProfile);
    }
    else
    {
        breadcrumbTrail
            .Add(BreadcrumbType.Collectors)
            .Add(BreadcrumbType.CollectorProfile);
    }
}

        <section class="content" id="@Model.Id-collector-details">
            <main class="container-fluid">

                @Html.Partial("Breadcrumb", breadcrumbTrail)

                <div class="row">
                    <div class="col-lg-4 pt-page-moveFromRightFade">
                        <h1>Collector Details</h1>

                        <table id="collectors-details-table">
                            <colgroup>
                                <col width="120"/>
                            </colgroup>
                            <tr>
                                <td>Name:</td>
                                <td class="collector-name"><strong>@Model.Name</strong></td>
                            </tr>
                            <tr>
                                <td>ID:</td>
                                <td class="collector-id">@Model.Id</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td class="collector-phone">@Model.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td class="collector-email"><a href="mailto:@Model.Email">@Model.Email</a></td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td class="collector-country">@Model.Country</td>
                            </tr>
                        </table>

                        <a class="disabled">View All assigned systems </a>
                        <div style="margin-top: 30px;"><a class="rounded-btn disabled" href="">View Collection Routes</a></div>


                    </div>
                    <div class="col-lg-8 pt-page-moveFromRightFade">

                        <!-- Display this if in refill mode... -->
                        <div id="collector-refill-system" class="hidden">
                            <h1 style="display: inline-block">Refill System</h1>
                            <table>
                                <colgroup>
                                    <col width="120"/>
                                </colgroup>
                                <tr>
                                    <td>Site name:</td>
                                    <td><strong id="collector-refill-machine-site-name"></strong></td>
                                </tr>
                                <tr>
                                    <td>System name:</td>
                                    <td><strong id="collector-refill-machine-name"></strong></td>
                                </tr>
                            </table>
                            <hr>
                            <p>Please enter the following amounts, highlighted in red.</p>
                            <p class="legend-container"><span class="due-legend"></span> = Amount due
                            </p>
                            <p class="legend-container"><span class="overfill-legend"></span> = Extra coins/bills added
                            </p>
                            <hr>

                            @Html.Partial("~/Views/Shared/Tables/CashTableRefillMode.cshtml")

                            <p class="small-helper-text">If you want to exit refill mode then tap your ibutton on the cash connect device or press "cancel refill".</p>
                        </div>

                        <!-- ...or this if not -->
                        <div id="collection-status" class="hidden">
                            <h1 style="display: inline-block;">Refill System</h1>
                            <p><i>No refill currently active</i></p>
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:40px;">
                    <div class="col-md-12 pt-page-moveFromBottom">
                        <h1 class="side-divider">Collection & Refill History</h1>
                        <hr>
                        <p>Click on the row  to view the full collection details</p>

                        <!-- Date picker -->
                        <div id="reportrange" class="pull-left">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                        <div class="clearfix" style="margin-bottom: 20px;"></div>

                        <!-- Collections table -->
                        <table id="collection-history-table" class="common-simple-table mobile-responsive">
                            <colgroup>
                                <col style="width:100px">
                                <col style="width:200px">
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <tr>
                                <th colspan="2">Date & Time of collection</th>
                                <th>Site Name</th>
                                <th>System Name</th>
                                <th>Postcode</th>
                                <th class="align-right">Total Collected</th>
                                <th class="align-right">Total Refilled</th>
                            </tr>

                            @***** START: Template for collection table row *****@
                            <tr id="template__collection-row" class="collection-history-clickable-row hidden-mobile-titles hidden">
                                <td class="date"></td>
                                <td class="time"></td>
                                <td class="site-name"></td>
                                <td class="machine-name"></td>
                                <td class="site-postcode"></td>
                                <td class="align-right total-collected">
                                    <strong class="collected-value"></strong>
                                    <span class="currency"></span>
                                </td>
                                <td class="align-right total-refilled">
                                    <span class="refilled-value"></span>
                                    <span class="currency"></span>
                                </td>
                            </tr>
                            @***** END: Template for collection table row *****@

                        </table>
                    </div>
                </div>
            </main><!--end container-->
        </section><!--end of content-->

@section Scripts{
    @Scripts.Render("~/bundles/js/ViewsCollectorIndex")
    <script>
        $(document).ready(function () {
            CollectorIndex.initialise(@Model.Id);
        });
    </script>
}