<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yorkshire Payments - Merchant Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src='@Url.Content("../../Content/Images/yp-logo-Rx.png")' alt="Yorkshire Payments Logo" style="width:400px;height:auto">
        </div>
       
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    <li>@Html.ActionLink("Overview", "Overview", "Merchant")</li>                   
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                </ul>
               @*@if (User.IsInRole("Admin"))
               {
                @Html.DropDownList(
                            "url",
                            new SelectList(new[]
                            {
                                new SelectListItem { Text = "Add new user", Value = Url.Action("Register", "Account") },
                                new SelectListItem { Text = "Add new role", Value = Url.Action("Index", "Home") },
                                new SelectListItem { Text = "Add new acquiring Bank", Value = Url.Action("AnyPage", "Home") },
                                new SelectListItem { Text = "Add new seller", Value = Url.Action("AnyPage", "Home") },
                            }, "Value", "Text"),
                            "Admin",
                            new { id = "urlddl", @class = "form-control-static" }
                       )


             

               }*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Yorkshire Payments</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#urlddl').change(function () {
            var url = $(this).val();
            if (url != null && url != '') {
                window.location.href = url;
            }
        });
    });
</script>
